<div id = "streamer-title">
<img id ="user-image" src="<%= @user.logo %>">
<h1 id = "username-next-to-picture"><%= @user.username %></h1> 
<p id = "streamer-info"><%= @streamer_info %></p>
</div>

<%= erb :'/users/_streamer_video' %>
<% if @current_user.id != @user.id && @current_user.subscribed_streamers.include?(@user) == false %>
<form action="/subscriptions" method="post">
  <input type="hidden" name="_method" value="put">
  <button type="submit" name="streamer"  value="<%= @user.id %>">Subscribe Now</button>
</form>
<% elsif @current_user.id != @user.id && @current_user.subscribed_streamers.include?(@user) == true %>
<form action="/subscriptions" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" name="streamer"  value="<%= @user.id %>">Unsubscribe Now</button>
</form>
<% elsif @current_user%>
<form action="/users/game" method="post">
<label>Currently Playing: </label>
	<select name="game">
    <%= @game_selection %>
  </select>
  <input type="hidden" name="_method" value="patch">
  <button type="submit">Submit</button>
</form>
<% end %>